<div class="navbar">
  <div class="container-fluid navbar__content">
    <a class="navbar__brand">
      <img class="navbar__brand-logo" [src]="logo" alt="Logo" />
    </a>
    <a class="navbar__item" [routerLink]="['/films']" routerLinkActive="active"
      >Peliculas</a
    >
    <a
      class="navbar__item"
      [routerLink]="['/characters']"
      routerLinkActive="active"
      >Personajes</a
    >
  </div>
</div>

<section class="section mt-2">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
