<div class="columns">
  <div class="column is-12">
    <div class="field">
      <div class="control">
        <input class="input is-primary" type="text" placeholder="Buscar personaje" [(ngModel)]="search">
      </div>
    </div>
  </div>
</div>



<div
  class="columns mt-2 is-desktop"
  style="flex-wrap: wrap;"
  *ngIf="characters.length > 0"
>
  <div
    class="column is-one-third"
    *ngFor="
      let character of characters | filterByLetters:search
        | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }
    "
  >
    <app-character [character]="character"></app-character>
  </div>
</div>

<div class="columns">
  <div class="column is-12">
    <pagination-controls
      (pageChange)="fetchCharacters($event)"
      *ngIf="characters.length > 0"
    ></pagination-controls>
  </div>
</div>
